<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.valerie.wx.miniapp.mapper.DepartmentMapper">

    <resultMap type="com.github.valerie.wx.miniapp.model.Department" id="DepartmentMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="Name" jdbcType="VARCHAR"/>
        <result property="parentId" column="Parent_ID" jdbcType="INTEGER"/>
        <result property="status" column="Status" jdbcType="INTEGER"/>
        <result property="tempA" column="temp_a" jdbcType="VARCHAR"/>
        <result property="tempB" column="temp_b" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="DepartmentWithChildren" type="com.github.valerie.wx.miniapp.model.Department" extends="DepartmentMap">
        <collection property="children" ofType="com.github.valerie.wx.miniapp.model.Department"
                    select="com.github.valerie.wx.miniapp.mapper.DepartmentMapper.getAllDepartmentsByParentId" column="id"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        ID, Name, Parent_ID, Status, temp_a, temp_b
    </sql>

    <select id="getAllDepartmentsByParentId" resultMap="DepartmentWithChildren">
        select * from department where Parent_ID = #{pid} and Status = 0;
    </select>

    <!--查询单个-->
    <select id="selectById" resultMap="DepartmentMap">
        select
        <include refid="Base_Column_List" />
        from department
        where ID = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectAllPaging" resultMap="DepartmentMap">
        select
        <include refid="Base_Column_List" />
        from department
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAll" resultMap="DepartmentMap">
        select
        <include refid="Base_Column_List" />
        from department
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="name != null and name != ''">
                and Name = #{name}
            </if>
            <if test="parentId != null">
                and Parent_ID = #{parentId}
            </if>
            <if test="status != null">
                and Status = #{status}
            </if>
            <if test="tempA != null and tempA != ''">
                and temp_a = #{tempA}
            </if>
            <if test="tempB != null and tempB != ''">
                and temp_b = #{tempB}
            </if>
        </where>
    </select>
    
    <!--通过Map作为筛选条件查询-->
    <select id="select" resultMap="DepartmentMap">
        select
        <include refid="Base_Column_List" />
        from department
        <include refid="selectCondition" />
        <if test="page != null and limit != null">
            limit #{page}, #{limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*)
        from department
        <include refid="selectCondition" />
    </select>

    <sql id="selectCondition">
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="name != null and name != ''">
                and Name = #{name}
            </if>
            <if test="parentId != null">
                and Parent_ID = #{parentId}
            </if>
            <if test="status != null">
                and Status = #{status}
            </if>
            <if test="tempA != null and tempA != ''">
                and temp_a = #{tempA}
            </if>
            <if test="tempB != null and tempB != ''">
                and temp_b = #{tempB}
            </if>
        </where>
    </sql>

    <!--新增所有列-->
    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        insert into department        
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                Name,
            </if>
            <if test="parentId != null">
                Parent_ID,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="tempA != null">
                temp_a,
            </if>
            <if test="tempB != null">
                temp_b,
            </if>
        </trim>
        values        
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="tempA != null">
                #{tempA},
            </if>
            <if test="tempB != null">
                #{tempB},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update department
        <set>
            <if test="name != null and name != ''">
                Name = #{name},
            </if>
            <if test="parentId != null">
                Parent_ID = #{parentId},
            </if>
            <if test="status != null">
                Status = #{status},
            </if>
            <if test="tempA != null and tempA != ''">
                temp_a = #{tempA},
            </if>
            <if test="tempB != null and tempB != ''">
                temp_b = #{tempB},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from department where ID = #{id}
    </delete>

    <select id="addDep" statementType="CALLABLE">
        call addDeparment(#{name,mode=IN,jdbcType=VARCHAR},#{parentId,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER},#{id,mode=OUT,jdbcType=INTEGER})
    </select>

    <select id="deleteDepById" statementType="CALLABLE">
        call deleteDepartment(#{id,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})
    </select>

</mapper>
