<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.valerie.wx.miniapp.mapper.MenuMapper">

    <resultMap type="com.github.valerie.wx.miniapp.model.Menu" id="MenuMap">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="name" column="Name" jdbcType="VARCHAR"/>
        <result property="url" column="Url" jdbcType="VARCHAR"/>
        <result property="path" column="Path" jdbcType="VARCHAR"/>
        <result property="component" column="Component" jdbcType="VARCHAR"/>
        <result property="auth" column="Auth" jdbcType="INTEGER"/>
        <result property="parentId" column="Parent_Id" jdbcType="BIGINT"/>
        <result property="status" column="Status" jdbcType="INTEGER"/>
        <result property="note" column="Note" jdbcType="VARCHAR"/>
        <result property="tempA" column="temp_a" jdbcType="VARCHAR"/>
        <result property="tempB" column="temp_b" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="MenuWithRole" type="com.github.valerie.wx.miniapp.model.Menu" extends="MenuMap">
        <collection property="roles" ofType="com.github.valerie.wx.miniapp.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="namezh"/>
        </collection>
    </resultMap>

    <resultMap id="MenuWithChildren" type="com.github.valerie.wx.miniapp.model.Menu" extends="MenuMap">
        <collection property="children" ofType="com.github.valerie.wx.miniapp.model.Menu"
                    select="com.github.valerie.wx.miniapp.mapper.MenuMapper.getAllMenusByParentId" column="id"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        ID, Name, Url, Path, Component, Auth, Parent_Id, Status, Note, Creat_Time, Update_Time, temp_a, temp_b
    </sql>

    <select id="getAllMenusByParentId" resultMap="MenuWithChildren">
        select * from menu where Parent_ID = #{pid} and Status = 0;
    </select>
    
    <select id="getAllMenusWithRole" resultMap="MenuWithRole">
        select menu.*, role.ID as rid, role.name as rname, role.nameZh as rnamezh
        from menu left join menu_role on menu_role.Menu_ID = menu.ID
                  left join role on role.ID = menu_role.Role_ID and role.Status = 0
        where menu.Status = 0
        order by menu.ID
    </select>
    
    <select id="getMenuByUserID" resultMap="MenuWithChildren">
        select DISTINCT menu.*
        from menu left join menu_role on menu.ID = menu_role.Menu_ID
                  left join user_role on user_role.Role_ID = menu_role.Role_ID
        where user_role.User_ID = #{userId} and menu.Parent_Id = 1 and menu.Status = 0
    </select>

    <!--查询单个-->
    <select id="selectById" resultMap="MenuMap">
        select
        <include refid="Base_Column_List" />
        from menu
        where ID = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectAllPaging" resultMap="MenuMap">
        select
        <include refid="Base_Column_List" />
        from menu
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAll" resultMap="MenuMap">
        select
        <include refid="Base_Column_List" />
        from menu
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="name != null and name != ''">
                and Name = #{name}
            </if>
            <if test="url != null and url != ''">
                and Url = #{url}
            </if>
            <if test="path != null and path != ''">
                and Path = #{path}
            </if>
            <if test="component != null and component != ''">
                and Component = #{component}
            </if>
            <if test="auth != null">
                and Auth = #{auth}
            </if>
            <if test="parentId != null">
                and Parent_Id = #{parentId}
            </if>
            <if test="status != null">
                and Status = #{status}
            </if>
            <if test="note != null and note != ''">
                and Note = #{note}
            </if>
            <if test="tempA != null and tempA != ''">
                and temp_a = #{tempA}
            </if>
            <if test="tempB != null and tempB != ''">
                and temp_b = #{tempB}
            </if>
        </where>
    </select>
    
    <!--通过Map作为筛选条件查询-->
    <select id="select" resultMap="MenuMap">
        select
        <include refid="Base_Column_List" />
        from menu
        <include refid="selectCondition" />
        <if test="page != null and limit != null">
            limit #{page}, #{limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*)
        from menu
        <include refid="selectCondition" />
    </select>

    <sql id="selectCondition">
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="name != null and name != ''">
                and Name like CONCAT('%', #{name}, '%')
            </if>
            <if test="url != null and url != ''">
                and Url = #{url}
            </if>
            <if test="path != null and path != ''">
                and Path = #{path}
            </if>
            <if test="component != null and component != ''">
                and Component = #{component}
            </if>
            <if test="auth != null">
                and Auth = #{auth}
            </if>
            <if test="parentId != null">
                and Parent_Id = #{parentId}
            </if>
            <if test="status != null">
                and Status = #{status}
            </if>
            <if test="note != null and note != ''">
                and Note = #{note}
            </if>
            <if test="tempA != null and tempA != ''">
                and temp_a = #{tempA}
            </if>
            <if test="tempB != null and tempB != ''">
                and temp_b = #{tempB}
            </if>
        </where>
    </sql>

    <!--新增所有列-->
    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        insert into menu        
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                Name,
            </if>
            <if test="url != null">
                Url,
            </if>
            <if test="path != null">
                Path,
            </if>
            <if test="component != null">
                Component,
            </if>
            <if test="auth != null">
                Auth,
            </if>
            <if test="parentId != null">
                Parent_Id,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="note != null">
                Note,
            </if>
            <if test="tempA != null">
                temp_a,
            </if>
            <if test="tempB != null">
                temp_b,
            </if>
        </trim>
        values        
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="path != null">
                #{path},
            </if>
            <if test="component != null">
                #{component},
            </if>
            <if test="auth != null">
                #{auth},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="note != null">
                #{note},
            </if>
            <if test="tempA != null">
                #{tempA},
            </if>
            <if test="tempB != null">
                #{tempB},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update menu
        <set>
            <if test="name != null and name != ''">
                Name = #{name},
            </if>
            <if test="url != null and url != ''">
                Url = #{url},
            </if>
            <if test="path != null and path != ''">
                Path = #{path},
            </if>
            <if test="component != null and component != ''">
                Component = #{component}
            </if>
            <if test="auth != null">
                Auth = #{auth},
            </if>
            <if test="parentId != null">
                Parent_Id = #{parentId},
            </if>
            <if test="status != null">
                Status = #{status},
            </if>
            <if test="note != null and note != ''">
                Note = #{note},
            </if>
            <if test="tempA != null and tempA != ''">
                temp_a = #{tempA},
            </if>
            <if test="tempB != null and tempB != ''">
                temp_b = #{tempB},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from menu where ID = #{id}
    </delete>

</mapper>
