<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.valerie.wx.miniapp.mapper.RecordMapper">

    <resultMap type="com.github.valerie.wx.miniapp.model.Record" id="RecordMap">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="userId" column="User_ID" jdbcType="BIGINT"/>
        <result property="dutyId" column="Duty_ID" jdbcType="BIGINT"/>
        <result property="date" column="Date" jdbcType="TIMESTAMP"/>
        <result property="place" column="Place" jdbcType="VARCHAR"/>
        <result property="imgPath" column="Img_Path" jdbcType="VARCHAR"/>
        <result property="remark" column="Remark" jdbcType="VARCHAR"/>
        <result property="status" column="Status" jdbcType="INTEGER"/>
        <result property="note" column="Note" jdbcType="VARCHAR"/>
        <result property="tempA" column="temp_a" jdbcType="VARCHAR"/>
        <result property="tempB" column="temp_b" jdbcType="VARCHAR"/>
        <result property="userName" column="User_Name" jdbcType="VARCHAR"/>
        <result property="dutyName" column="Duty_Name" jdbcType="VARCHAR"/>
        <result property="placeName" column="Place_Name" jdbcType="VARCHAR"/>
        <result property="levelName" column="Level_Name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        record.ID, record.User_ID, record.Duty_ID, record.Date, record.Place, record.Img_Path, record.Remark, record.Status, record.Note, record.temp_a, record.temp_b
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="RecordMap">
        select
        <include refid="Base_Column_List" />, user.Name as User_Name, duty.Name as Duty_Name
        from record left join user on user.ID = record.User_ID
                    left join duty on duty.ID = record.Duty_ID
        where record.ID = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectAllPaging" resultMap="RecordMap">
        select
        <include refid="Base_Column_List" />
        from record
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAll" resultMap="RecordMap">
        select
        <include refid="Base_Column_List" />
        from record
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="userId != null">
                and User_ID = #{userId}
            </if>
            <if test="dutyId != null">
                and Duty_ID = #{dutyId}
            </if>
            <if test="beginDate != null and beginDate != ''">
                and Date <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and Date <![CDATA[<=]]> #{endDate}
            </if>
            <if test="date != null and date != ''">
                and Date = #{date}
            </if>
            <if test="place != null and place != ''">
                and Place = #{place}
            </if>
            <if test="imgPath != null and imgPath != ''">
                and Img_Path = #{imgPath}
            </if>
            <if test="remark != null and remark != ''">
                and Remark = #{remark}
            </if>
            <if test="status != null">
                and Status = #{status}
            </if>
            <if test="note != null and note != ''">
                and Note = #{note}
            </if>
            <if test="tempA != null and tempA != ''">
                and temp_a = #{tempA}
            </if>
            <if test="tempB != null and tempB != ''">
                and temp_b = #{tempB}
            </if>
        </where>
    </select>

    <!--通过Map作为筛选条件查询-->
    <select id="select" resultMap="RecordMap">
        select
        <include refid="Base_Column_List" />, user.Name as User_Name, duty.Name as Duty_Name, dictory.Name as Place_Name, user.Level_Name as Level_Name
        from record left join duty on duty.ID = record.Duty_ID
                    left join dictory on dictory.ID = record.Place
                    left join (SELECT user.ID, user.Name, dictory.Name as Level_Name FROM user LEFT JOIN dictory on user.Duty_Level_ID = dictory.ID) user
                        on user.ID = record.User_ID
        <include refid="selectCondition" />
        <if test="sort != null and order != null">
            order by ${sort} ${order}
        </if>
        <if test="page != null and limit != null">
            limit #{page}, #{limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Long">
        select Count(*)
        from record
        <include refid="selectCondition" />
    </select>

    <sql id="selectCondition">
        <where>
             <if test="id != null">
                and record.ID = #{id}
            </if>
            <if test="userId != null">
                and record.User_ID = #{userId}
            </if>
            <if test="dutyId != null">
                and record.Duty_ID = #{dutyId}
            </if>
            <if test="beginDate != null and beginDate != ''">
                and record.Date <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and record.Date <![CDATA[<=]]> #{endDate}
            </if>
            <if test="date != null and date != ''">
                and record.Date = #{date}
            </if>
            <if test="place != null and place != ''">
                and record.Place = #{place}
            </if>
            <if test="imgPath != null and imgPath != ''">
                and record.Img_Path = #{imgPath}
            </if>
            <if test="remark != null and remark != ''">
                and record.Remark = #{remark}
            </if>
            <if test="status != null">
                and record.Status = #{status}
            </if>
            <if test="note != null and note != ''">
                and record.Note = #{note}
            </if>
            <if test="tempA != null and tempA != ''">
                and record.temp_a = #{tempA}
            </if>
            <if test="tempB != null and tempB != ''">
                and record.temp_b = #{tempB}
            </if>
        </where>
    </sql>

    <select id="checkUserRecord" resultType="java.util.Map">
        SELECT dictory.ID id, dictory.Name name, MAX(DATE_FORMAT(record.Date, '%H:%i:%s')) time, IF(record.Date, TRUE, FALSE) isChecked
        FROM dictory LEFT JOIN record
            ON dictory.ID = record.Place
               AND record.User_ID = #{userId}
               AND record.Duty_ID = #{dutyId}
               AND DATE_FORMAT(record.Date, '%Y-%m-%d') = #{date}
               AND record.Status = 0
        WHERE dictory.ID in ${place}
        GROUP BY id, name, isChecked
        ORDER BY id
    </select>

    <!--新增所有列-->
    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        insert into record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null">
                User_ID,
            </if>
            <if test="dutyId != null">
                Duty_ID,
            </if>
            <if test="date != null">
                Date,
            </if>
            <if test="place != null">
                Place,
            </if>
            <if test="imgPath != null">
                Img_Path,
            </if>
            <if test="remark != null">
                Remark,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="note != null">
                Note,
            </if>
            <if test="tempA != null">
                temp_a,
            </if>
            <if test="tempB != null">
                temp_b,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null">
                #{userId},
            </if>
            <if test="dutyId != null">
                #{dutyId},
            </if>
            <if test="date != null">
                #{date},
            </if>
            <if test="place != null">
                #{place},
            </if>
            <if test="imgPath != null">
                #{imgPath},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="note != null">
                #{note},
            </if>
            <if test="tempA != null">
                #{tempA},
            </if>
            <if test="tempB != null">
                #{tempB},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update record
        <set>
            <if test="userId != null">
                User_ID = #{userId},
            </if>
            <if test="dutyId != null">
                Duty_ID = #{dutyId},
            </if>
            <if test="date != null">
                Date = #{date},
            </if>
            <if test="place != null and place != ''">
                Place = #{place},
            </if>
            <if test="imgPath != null and imgPath != ''">
                Img_Path = #{imgPath},
            </if>
            <if test="remark != null and remark != ''">
                Remark = #{remark},
            </if>
            <if test="status != null">
                Status = #{status},
            </if>
            <if test="note != null and note != ''">
                Note = #{note},
            </if>
            <if test="tempA != null and tempA != ''">
                temp_a = #{tempA},
            </if>
            <if test="tempB != null and tempB != ''">
                temp_b = #{tempB},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from record where ID = #{id}
    </delete>

</mapper>
